{% extends "base.html" %}

{% block title %}Викторины{% endblock %}

{% block content %}
    <h1 class="text-center">Викторины</h1>
    <div class="table-container mt-5">
        <a href="{{ url_for('categories') }}" class="btn btn-primary mb-3">Назад</a>
        <ul class="list-group">
            {% for quiz in quizzes %}
                <li class="list-group-item">
                    <a href="{{ url_for('next_question', category_id=quiz.category.id, quiz_id=quiz.id)}}">{{ quiz.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}