
<!--
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <style>
        .answer-button {
        flex: 1 0 45%; /* Устанавливаем максимальную ширину кнопки в 45% от родительского контейнера */
        margin: 0.7rem; /* Добавляем интервал между кнопками */
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
-->
<!--
{% block content %}
<body>
  <div class="container">
    <h1 class="text-center mb-4">Quiz</h1>
    <form method="POST">
      {{ csrf_token }}
      <input type="hidden" name="question_id" value="{{ question.id }}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ question.text }}</h5>
          <div class="d-flex flex-wrap justify-content-between">
            {% for answer in answers %}
              <button class="btn btn-primary btn-lg answer-button" type="submit" name="answer" value="{{ answer.text }}">{{ answer.text }}</button> 
            {% endfor %}
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
{% endblock content %}
-->
{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
<h1 class="mb-4">Quiz</h1>
<form method="POST">
    {{ csrf_token }}
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title mb-4">{{ question.text }}</h5>
        <div class="row justify-content-center">
        {% for answer in answers %}
        <div class="col-md-6 col-sm-12 mb-2">
            <label class="align-items-center cursor-pointer">
                <input type="radio" class="form-check-input answer-button" name="answer" value="{{ answer.text }}">
                <span class="form-check-label mb-0 ms-2">{{ answer.text }}</span>
            </label>
        </div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary btn-lg mt-4">Далее</button>
    </div>
    </div>
</form>
</div>
{% endblock content %}