<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика активности пользователей</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Статистика активности пользователей</h1>
        <a href="{{ url_for('admin.index') }}" class="btn btn-primary mb-3">Вернуться к меню</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>ID Telegram</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.telegram_id }}</td>
                    <td>{{ user.created_on }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>